*{margin: 0;padding: 0;}

a{
    text-decoration: none;
    color:  #030000;
	font-style: initial;
    font-size: 30px;
    font-family: sans-serif;
}

body{
	background-color: #db9eee; /* apply background color in home page*/
}

.navbar{
    background: #a600d8;
    padding: 10px;
    height: 70px;
    overflow: hidden;
}

.navbar .navbar-mark a{
    display: block;
    font-size: 50px;
    padding: 3px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-style: italic;
}
.text-color{
    margin-left:50px ;
    margin-top: 15px;
}
.navbar-flex{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.navbar-menu{
    justify-content: space-between;
}

.navbar .nav-items{
    display: flex;
}

ul{
    list-style-type: none;
}

.navbar .nav-items .navbar-link{
    padding: 20px 20px;
    font-size: 20px;
    position: relative;
}

.navbar .nav-items .navbar-link:hover{
    background-color: #00b4d8;
}

.navbar .nav-items .navbar-link:hover a{
    color: #caf0f8;
}

.btn{
	padding: 10px;
	margin: 10px 100px 10px;
	border-radius: 40px;
	background-color: #00b4d8;
	width: 150px;
	height: 50px;
	text-align: center;
}

.btn .btn-items .btn-link:hover{
    background-color: #a600d8;
	border-radius: 40px;
	width: 150px;
	height: 50px;
}

.btn .btn-items .btn-link:hover a{
    color: #caf0f8;
}

.dropbtn {
	border: none;
	height: 0px;
	width: 0px;
	margin: 0px 30px;
  }

  .dropdown button img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: #a600d8;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #00b4d8;}
  
  .dropdown:hover .dropdown-content {display: block;}
  

form{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

form span{
	position: absolute;
	margin: 20px 0 0 1100px;

}

.search-bar{
	width: 60%;
	height: 30px;
	max-width: 500%;
	background: rgb(175, 174, 174);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px ;
	margin: 0px 0px 0px 100px;
}

.search-bar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 25px 20px;
	font-size: 20px;
	color: #3a3a3b;
}

::placeholder{
	color: #e7e7f1;
}

.search-bar button img{
	width: 25px;
}
.search-bar button{
	border: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #fff;
	cursor: pointer;
}

h1{
	color: rgb(248, 10, 169);
	text-align: center;
	font-size: 80px;
	font-style: italic;
}

h1:hover{
	color: #f30915;
}
.banner-card{
	position: relative;
}

.banner-card img{
	max-width: 100%;
	width: 1100px;
	height: 600px;
	padding: 20px;
	margin: 0px 80px;
}

.banner-1{
	position: absolute;
	top: 25%;
	color: transparent;
	padding: 20px;
	margin: 400px 100px 100px 150px;
	box-sizing: border-box;
	background-color: #15151873;
	border: 5px solid;
	width: 300px;
	height: 200px;
	font-size: 25px;
}

.banner-1 h6{
	font-size: 25px;
	text-align: center;
	color: #000;
	font-weight: bolder;
	padding: 40px;
	margin: 0px 150px 50px 0;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: #f4fafc7a;
	border: 5px solid;
	width: 250px;
	height: 150px;	
}

.banner-1 h6 img{
    height: 40px;
    width: 40px;
    margin: -20px;
}

.banner-2{
	position: absolute;
	top: 25%;
	color: transparent;
	padding: 20px;
	margin: 400px 100px 100px 500px;
	box-sizing: border-box;
	background-color: #15151873;
	border: 5px solid;
	width: 300px;
	height: 200px;
	font-size: 25px;
}

.banner-2 h6{
	font-size: 25px;
	text-align: center;
	color: #000;
	font-weight: bolder;
	padding: 40px;
	margin: 0px 150px 50px 0px;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: #f4fafc7a;
	border: 5px solid;
	width: 250px;
	height: 150px;	
}

.banner-2 h6 img{
    height: 40px;
    width: 40px;
    margin: -20px;
}

.banner-3{
	position: absolute;
	top: 25%;
	color: transparent;
	padding: 20px;
	margin: 400px 100px 100px 850px;
	box-sizing: border-box;
	background-color: #15151873;
	border: 5px solid;
	width: 300px;
	height: 200px;
	font-size: 25px;
}

.banner-3 h6{
	font-size: 25px;
	text-align: center;
	color: #000;
	font-weight: bolder;
	padding: 40px;
	margin: 0px 150px 50px 0;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: #f4fafc7a;
	border: 5px solid;
	width: 250px;
	height: 150px;	
}

.banner-3 h6 img{
    height: 40px;
    width: 40px;
    margin: -20px;
}
.banner-card h6 a:hover{
	color: #a600d8;
}

.bubble img{
	width: 50px;
	animation: bubble 7s linear infinite;
}

.bubble{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: -700px;
}

@keyframes bubble{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	70%{
		opacity: 1;
	}
	100%{
		transform: translateY(-200vh);
		opacity: 0;
	}
	
}

.bubble img:nth-child(1){
	animation-delay: 2s;
	width: 35px;
}

.bubble img:nth-child(2){
	animation-delay: 1s;
	width: 45px;
}

.bubble img:nth-child(3){
	animation-delay: 3s;
	width: 25px;
}

.bubble img:nth-child(4){
	animation-delay: 4.5s;
	width: 65px;
}

.bubble img:nth-child(5){
	animation-delay: 3s;
	width: 35px;
}

.bubble img:nth-child(6){
	animation-delay: 6s;
	width: 75px;
}

.bubble img:nth-child(7){
	animation-delay: 7s;
	width: 35px;
}

h5{
	padding: 10px 30px 30px 30px;
	margin: 20px 20px 20px 20px;
	color: #a600d8;
	font-size: 25px;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: #f4fafc96;
	width: 175px;
	height: 20px;
}

footer h6{
	margin: -20px 0 50px 900px;
	font-size: 25px;
	color: #000;

}

footer{
    width: 100%;
    height: 170px;
    background-color: #a600d8;
}
footer span{
    margin: -30px 0 0 900px;
    position: absolute;
    color: #fff;
	font-weight: bolder;
    font-size: 40px;
	
}

footer .socialmedia i{
   padding: 10px;
   color: #fff;
}

footer .socialmedia i:hover{
	padding: 15px;
 }
