*{margin: 0;padding: 0;}

a{
    text-decoration: none;
    color:  #030000;
	font-style: initial;
    font-size: 30px;
    font-family: sans-serif;
}

body{
	background-color: #e3c4ec;
}

.navbar{
    background: #a600d8;
    padding: 10px;
    height: 70px;
    overflow: hidden;
}

.navbar .navbar-mark a{
    display: block;
    font-size: 50px;
    padding: 3px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-style: italic;
}
.text-color{
    margin-left:50px ;
    margin-top: 15px;
}
.navbar-flex{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.navbar-menu{
    justify-content: space-between;
}

.navbar .nav-items{
    display: flex;
}

ul{
    list-style-type: none;
}

.navbar .nav-items .navbar-link{
    padding: 20px 20px;
    font-size: 20px;
    position: relative;
}

.navbar .nav-items .navbar-link:hover{
    background-color: #00b4d8;
}

.navbar .nav-items .navbar-link:hover a{
    color: #caf0f8;
}

.btn{
	padding: 10px;
	margin: 10px 100px 10px;
	border-radius: 40px;
	background-color: #00b4d8;
	width: 150px;
	height: 50px;
	text-align: center;
}

.btn .btn-items .btn-link:hover{
    background-color: #a600d8;
	border-radius: 40px;
	width: 150px;
	height: 50px;
}

.btn .btn-items .btn-link:hover a{
    color: #caf0f8;
}

.dropbtn {
	border: none;
	height: 0px;
	width: 0px;
	margin: 0px 30px;
  }

  .dropdown button img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: #a600d8;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #00b4d8;}
  
  .dropdown:hover .dropdown-content {display: block;}
  

form{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

form span{
	position: absolute;
	margin: 20px 0 0 1100px;

}

.search-bar{
	width: 60%;
	height: 30px;
	max-width: 500%;
	background: rgb(175, 174, 174);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px ;
	margin: 0px 0px 0px 100px;
}

.search-bar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 25px 20px;
	font-size: 20px;
	color: #3a3a3b;
}

::placeholder{
	color: #e7e7f1;
}

.search-bar button img{
	width: 25px;
}
.search-bar button{
	border: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #fff;
	cursor: pointer;
}

h1{
	color: rgb(248, 10, 10);
	text-align: left;
	font-size: 40px;
	font-style: italic;
    margin: 20px;
}
.banner-card{
	position: relative;
	margin: 200px;
}

.banner-card img{
	max-width: 100%;
	width: 600px;
	height: 600px;
	padding: 20px;
	margin: 0 -55px;
}

.banner-text{
	position: absolute;
	top: 25%;
	color: rgb(1, 3, 8);
	padding: 20px;
	margin: 0px 600px;
	box-sizing: border-box;
	background-color: transparent;
	border: 5px solid;
	width: 500px;
	height: 600px;
	font-size: 25px;
	
}

.banner-text h4{
	font-size: 50px;
	color: red;
	
}

.banner-text h6{
	font-size: 25px;
	text-align: center;
	color: #000;
	font-weight: bolder;
	padding: 20px;
	margin: 20px 75px 50px 25px;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: #f4fafc7a;
	border: 5px solid;
	width: 400px;
	height: 100px;	
}

.banner-text h6 a{
	color: #a600d8;
}

.banner-text h6 a:hover{
	color: #f3030f;
}

h2{
	color: rgb(252, 109, 26);
	text-align: center;
	font-size: 60px;
}

#eng{
	width: 1100px;
	margin: 0 auto;
}

.p{
	width: 500px;
	float: left;
	text-align: center;
}

.p img{
	height: 150px;
	width: 450px;
	margin: 20px 250px;
}

h3{
	color: rgb(15, 192, 30);
	text-align: center;
	font-size: 50px;
}

p{
	padding: 10px;
	margin: 10px 50px 10px;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: transparent;
	border: 5px solid;
	width: 950px;
	height: 100px;
	font-size: 25px;
	color: #4617f0;
}



h5{
	padding: 10px 30px 30px 30px;
	margin: 20px 20px 20px 20px;
	color: #a600d8;
	font-size: 25px;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: #f4fafc96;
	width: 175px;
	height: 20px;
}

footer h6{
	margin: -20px 0 50px 900px;
	font-size: 25px;
	color: #000;

}

footer{
    width: 100%;
    height: 170px;
    background-color: #a600d8;
}
footer span{
    margin: -30px 0 0 900px;
    position: absolute;
    color: #fff;
	font-weight: bolder;
    font-size: 40px;
	
}

footer .socialmedia i{
   padding: 10px;
   color: #fff;
}

footer .socialmedia i:hover{
	padding: 15px;
 }